<a href="https://colab.research.google.com/github/JoaoCuri/pequenos_desafios/blob/master/Lklearning_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**KNN**

É um método supervisionado de machine learning que faz a classificação de observações baseado em um conjunto de dados de treino que já está classificada. Assim, ele tenta identificar novas observações com base naquelas em que foi treinado.

Nós podemos usar KNN em vários casos. São alguns deles:

1- predição de preços de ações.

2- sistemas de recomendação

3- análise de risco de crédito, e planejamento preditivo de viagens.

Pressupostos:

* Ter pouco ruído 

* conjunto de dados identificados

* Conjunto de dados que só tem variáveis relevantes

* Conjunto de dados com subgrupos claros

Importante: Evite usar o KNN em conjuntos grandes. Possívelmente irá demorar bastante para rodar!

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
from matplotlib import rcParams
from sklearn.neighbors import KNeighborsClassifier

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [ ]:
np.set_printoptions(precision=4,suppress=True)
%matplotlib inline
rcParams['figure.figsize'] = 7,4
sns.set_style('whitegrid')

In [ ]:
mtcars = pd.read_csv('https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv')
mtcars.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

**Dividindo em treino e teste**

In [ ]:
X = mtcars[['mpg','disp','hp','drat','wt','qsec','vs','am','gear','carb']]
y = mtcars['am'].values

In [ ]:
X = preprocessing.scale(X)
#.33 = 1/3 dos dados originais | random state = 17 só para os dados do pofessor e o do aluno sair igual
X_treino,X_teste,y_treino,y_teste = train_test_split(X,y,test_size=.33,random_state=17)

**Treinado o modelo**

In [ ]:
clf = KNeighborsClassifier()
clf.fit(X_treino,y_treino)
print(clf)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

**Avaliando o desempenho do modelo com os dados de teste**

In [ ]:
y_esperado = y_teste
y_preditor = clf.predict(X_teste)

print(classification_report(y_esperado,y_preditor))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91         5
           1       1.00      0.83      0.91         6

    accuracy                           0.91        11
   macro avg       0.92      0.92      0.91        11
weighted avg       0.92      0.91      0.91        11

No caso queriamos inferir se o carro era automático ou manual usando as variáveis de consumo de gasolina, dispi, que é uma medida do poder do carro, de HP que é o nosso Horse Power, e o peso do carro. Então a gente tava usando essas quatro variáveis no nosso x. E como nosso y, que era o nosso foco de predição, a gente estava usando a variável AM que diz se o carro é manual ou automático.